<h1 class="page-title">Dear John,</h1>

<p>
  Congratulations! You have won the following lot:
</p>

<p>
  <b>
    2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)
  </b>
</p>


<table
  class="bordered-container bordered-container_filled"
  width="100%"
  style="table-layout: fixed"
>
  <tr>
    <td>
      <span>Sale Price:</span>

      <span class="pull-right space-right">
        <b>$249.00</b> ($224.10 including 10% buyer's premium)
      </span>
    </td>
  </tr>
</table>

<h1>This lot contains the following items:</h1>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/skus/1403310x.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  link: 'https://www.klwines.com/p/i?i=1403310',
  qty: 1,
  price: '$224.00'
}]}) %>

<table width="100%">
  <tbody>
  <tr>
    <td>
      <p>
        <span class="text-brand inline-block">**</span>
        IMPORTANT: You must confirm your shipping preferences and complete your order no later than 22/07/2019. Per the terms of the auction agreement,
        K&L Wine Merchants reserves the right to automatically charge your credit card and place an order on your behalf after this date.
      </p>

      <p>
        Please click on the "Pay Now" link below to confirm your shipping preferences and total purchase price.
      </p>

      <p>
        <a target="_blank" class="text-brand" href="https://www.klwines.com/p/i?i=1403310/Auction/Bidding/BidPaymentConfirmation.aspx?BidId=1403310">
          PAY NOW
        </a>
      </p>

      <a target="_blank" href="https://www.klwines.com/p/i?i=1403310">Click here</a>&nbsp;to view details of this lot.

      <%- include('./src/shared/temperatureControlledLockers') %>

      <%- include('./src/shared/ifYouHaveAnyQuestions') %>

      <%- include('./src/shared/thanksForShopping') %>
    </td>
  </tr>
  </tbody>
</table>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
