<h1 class="page-title">Dear Jonh,</h1>

<p>
  Sorry, you did not place the winning bid and the auction has ended on the following lot:<br/>
</p>

<p>
  <b>
    2013 Harlan Estate Napa Valley Bordeaux Blend (OWC), <br>
    2013 Screaming Eagle Napa Valley Cabernet Sauvignon (OWC)
  </b>
</p>

<table
  class="bordered-container bordered-container_filled"
  width="100%"
  style="table-layout: fixed"
>
  <tr>
    <td>
      <span>Highest Bid:</span>

      <span class="pull-right space-right">
        <b>$15,900.00</b>
      </span>
    </td>

    <td>&nbsp;</td>

    <td>
      <span>Winning Bid:</span>

      <span class="pull-right">
        <b>$15,900.00</b>
      </span>
    </td>
  </tr>

  <!--<tr>-->
    <!--<td colspan="3">-->
      <!--The reserve price on this lot was not met.-->
    <!--</td>-->
  <!--</tr>-->
</table>

<p>&nbsp;</p>

<h1>This lot contains the following items:</h1>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/auctions/0131962177755079046.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  qty: 6,
  price: '$5,634.00'
}, {
  img: 'https://www.klwines.com//images/auctions/0131962177880610459.jpg',
  name: '2013 Screaming Eagle Napa Valley Cabernet Sauvignon (OWC)',
  qty: 3,
  price: '$6,300.00'
}]}) %>

<%- include('./src/shared/total', {
  subtotal: '$11,934.00',
  salesTax: '$2,386.60',
  total: '$14,320.00'
}) %>

<table width="100%">
  <tbody>
  <tr>
    <td>
      <p>
        <a
          target="_blank"
          href="https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=1403810"
          class="text-brand"
        >
          Click Here
        </a> to view the details of this lot.
      </p>

      <p>
        If you would like to learn more about when your favorite wines become available, please visit the K&amp;L Waiting List page:
        <a href="https://www.klwines.com/waitinglist/help">https://www.klwines.com/waitinglist/help</a>
      </p>

      <p>
        You may also update your Email Preferences in the My Account section of the website to receive news &amp; alerts on upcoming auction lots.
        <a href="https://www.klwines.com/account">https://www.klwines.com/account</a>
      </p>

      <%- include('./src/shared/ifYouHaveAnyQuestions') %>

      <%- include('./src/shared/thanksForShopping') %>
    </td>
  </tr>
  </tbody>
</table>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
