<h1 class="page-title">Dear John,</h1>

<p>
  Thank you for your auction purchase from K&amp;L Wine Merchants.
</p>

<p>
  Your order information appears below.  If you need to get in
  touch with us about your order, send an e-mail message to
  <a href="mailto:customerservice@klwines.com">customerservice@klwines.com</a> (or just reply to this message)
  or call <a href="tel:6505911705" class="link-default">650-591-1705</a>.
</p>

<p>
  As soon as we receive your order we begin working to pull all the items together, pack the order, and get it shipped out. We also attempt to schedule shipments at the BEGINNING of the week to avoid letting your wines sit in a carrier's warehouse over the weekend (where we can't control the environmental conditions). For a detailed explanation of our standard procedures, you can visit this website page:
  <a href="http://www.klwines.com/transittime.asp">http://www.klwines.com/transittime.asp</a>
</p>

<p>
  Additionally, you can check the status of your order at: <a href="https:klwines.com/shopping/receipt.asp?oid=123|sid=133"></a>
</p>

<p>
  You can also modify your account settings in the My Account section of our website:
  <a href="http://www.klwines.com/account.asp" class="text-brand">http://www.klwines.com/account.asp</a>
</p>

<%- include('./src/shared/horizontalLine') %>

<p>
  <h1>Your order reads as follows:</h1>
</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      Ship to: <br>

      <b>
        Bharath Nalli <br>
        K&L Wine Merchants - Redwood City <br>
        3005 EL Camino Real <br>
        Redwood City, CA 94061 <br>
        USA
      </b>
    </td>

    <td>
      <p>
        E-mail address: <a href="mailto:bharath@techfabric.co">bharath@techfabric.co</a>
      </p>
      <p>
        BOE Permit #: xxx
      </p>
      <p>
        Wholesale ABC License #: xxx
      </p>
    </td>
  </tr>
</table>


<h1>
  <p>Order # 36704118 on 1/18/2019</p>
</h1>

<p>
  Shipping Method: <b>Will Call - Redwood City</b>
</p>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/skus/1403310x.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  link: 'https://www.klwines.com/p/i?i=1403310',
  qty: 1,
  price: '$224.00'
}, {
  img: 'https://www.klwines.com//images/skus/1178723l.jpg',
  name: '2010 Bois-Malot, Bordeaux Supérieur',
  qty: 1,
  price: '$10.99'
}]}) %>

<%- include('./src/shared/total', {
  subtotal: '$234.99',
  salesTax: '$5.00',
  total: '$239.99'
}) %>

<p>
  Order/ShipWayCd
</p>

<p>Due to space limitations, we need you to take possession of all will calls and holds within 90 days of the order date. Thank you for your cooperation.</p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
