<h1 class="page-title">Dear John,</h1>

<p>
  Congratulations! You have a second chance to buy the following lot:
</p>

<p>
  <b>
    2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)
  </b>
</p>

<table
  class="bordered-container bordered-container_filled"
  width="100%"
  style="table-layout: fixed"
>
  <tr>
    <td>
      <span>Sale Price:</span>

      <span class="pull-right space-right">
        <b>$249.00</b> ($224.10 including 10% buyer's premium)
      </span>
    </td>
  </tr>
</table>

<h1>This lot contains the following items:</h1>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/auctions/0131962177755079046.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  qty: 6,
  price: '$5,634.00'
  }, {
  img: 'https://www.klwines.com//images/auctions/0131962177880610459.jpg',
  name: '2013 Screaming Eagle Napa Valley Cabernet Sauvignon (OWC)',
  qty: 3,
  price: '$6,300.00'
}]}) %>

<%- include('./src/shared/total', {
  subtotal: '$11,934.00',
  salesTax: '$2,386.60',
  total: '$14,320.00'
}) %>

<p>
  Please click on the "Pay Now" link below to confirm your shipping preferences and total purchase price.
</p>

<p>
  <a target="_blank" class="text-brand" href="https://klwines.com/Auction/Bidding/BidPaymentConfirmation.aspx?BidId=123">
    PAY NOW
  </a>
</p>

<p>
  <span class="text-brand inline-block">**</span>
  IMPORTANT: You must sign-on to your auction profile to confirm your bid and shipping preference no later than
  05/08/2018
  in order to purchase this auction lot. If you fail to claim this lot in the specified time
  frame, we will offer the lot to the next highest bidder.
</p>

<p>
  <a target="_blank" class="text-brand" href="https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=123">
    Click Here
  </a> to view the details of this lot.
</p>

<%- include('./src/shared/temperatureControlledLockers') %>

<%- include('./src/shared/ifYouHaveAnyQuestions') %>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>

